system/config/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="ST_param">
        <xs:restriction base="xs:string">
            <xs:enumeration value=":admin"/>
            <xs:enumeration value=":class_name"/>
            <xs:enumeration value=":description"/>
            <xs:enumeration value=":id"/>
            <xs:enumeration value=":id_class"/>
            <xs:enumeration value=":id_type"/>
            <xs:enumeration value=":insert"/>
            <xs:enumeration value=":login"/>
            <xs:enumeration value=":set"/>
            <xs:enumeration value=":table"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="request">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="type" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="DELETE"/>
                                <xs:enumeration value="INSERT"/>
                                <xs:enumeration value="SELECT"/>
                                <xs:enumeration value="UPDATE"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="query">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="description"/>
                <xs:element ref="params" minOccurs="0"/>
                <xs:element ref="request"/>
            </xs:sequence>
            <xs:attribute name="name" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="all"/>
                        <xs:enumeration value="delete"/>
                        <xs:enumeration value="get_user"/>
                        <xs:enumeration value="insert"/>
                        <xs:enumeration value="select"/>
                        <xs:enumeration value="type"/>
                        <xs:enumeration value="update"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="queries">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="group" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="params">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="param" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="param">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_param">
                    <xs:attribute name="description">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="test"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="group">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="description"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="group" maxOccurs="unbounded"/>
                    <xs:element ref="query" maxOccurs="unbounded"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="name" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="login"/>
                        <xs:enumeration value="mcm"/>
                        <xs:enumeration value="perm"/>
                        <xs:enumeration value="permission"/>
                        <xs:enumeration value="rule"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="description" type="xs:string"/>
</xs:schema>
